@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #1b2331;
  font-size: 16px;
}
h1 {
  line-height: 1.5em;
}
.line-height-1 {
  font-size: 14px;
}
.blog-container {
  
  display: flex;
  justify-content: center;
}
.main-padding {
  max-width: 1000px;
  margin: auto;
  width: 70%;
}
.margin-btm-10 {
  margin-bottom: 15px;
}
.margin-top-20 {
  margin-top: 70px;
  margin-bottom: 20px;
}
.margin-left-20 {
  margin-left: 5%;
}
.margin-right-20 {
  margin-right: 5%;
}

.btn-underline {
  border-bottom: 1px solid;
  cursor: pointer;
  transition: border-bottom 0.5ms;
}
.btn-underline:hover {
  text-underline-offset: 50%;
  border-bottom: 2px solid;
}

/* Navigation bar */
.skill-title {

  font-size: 1em;
  padding-top: 5%;

}
.card-title {
  font-size: 0.9em;
  margin-left:5%;
  margin-right:5%;
  line-height: 140%;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1b2331;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 100;
}
.nav {
  font-family: 'Space Grotesk', sans-serif;
  color: #b1b1b1;
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav-items{
  display: flex;

}
.item{
margin-left:40px;
}
.color-cta{
  background-color: #ee6382;
}
a{
  text-decoration: none;
  color: #b1b1b1;
}
.item:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:visited {
  text-decoration: none;
  color: inherit;
}
.disabled {
  color: rgb(207, 206, 206);
  pointer-events: none;
  cursor: default;
}
.dark-font {
  color: #1b2331;
}

.padding-top-80 {
  margin-top: 160px;
}
.logo:hover{
  animation: rotatelogo 1s linear infinite;
}

  @keyframes rotatelogo {
  0% {
    transform: rotate(0deg);
    
  }

  100% {
    transform: rotate(360deg);
  }
}
  .margin-btm-80 {
  margin-bottom: 80px;
}
.link-word{
text-decoration: underline;
font-weight: 800;
cursor: pointer;
}
.link-word:hover{
  color: #ee6382;

}
.content {
  line-height: 150%;
  text-align: center;
  
  padding-top: 20px;
}
/* Main container */

#Blink1 {
  animation: disappear 1s infinite;
}
#Blink2 {
  animation: disappear2 2s infinite;
}
#Blink3 {
  animation: disappear3 3s infinite;
}
#Blink4 {
  animation: disappear4 3.5s infinite;
}
#Cloud {
  animation: sway 5s infinite;
}

#Love {
  animation: sway 2s infinite;
}

#Bubble {
  animation: move 2s infinite;
}
#Bubble1 {
  animation: move 3.2s infinite;
}
#Bubble2 {
  animation: move 4.2s infinite;
}
#Bubble3 {
  animation: move 3s infinite;
}
#Bubble4 {
  animation: move 2s infinite;
}
#Bubble5 {
  animation: move 2.9s infinite;
}
#Bubble6 {
  animation: move 5s infinite;
}
#Bubble7 {
  animation: move 4s infinite;
}

@keyframes move {
  0% {
    transform: translate(0);
    transform: translateY(0);
  }

  50% {
    transform: translate(8px);
    transform: translateY(-8px);
  }
  100% {
    transform: translate(0);
    transform: translateY(0);
  }
}

@keyframes sway {
  0% {
    transform: translate(0);
    transform: translateY(0);
  }

  50% {
    transform: translateX(4px);
    transform: rotate(0.5deg);
  }
  100% {
    transform: translate(0);
    transform: translateY(0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes disappear2 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear3 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappear4 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.5;
  }
}

.main-container {
  margin-top: 120px;
  color: #b1b1b1;
  font-size: 1.125em;
  line-height: 1.5em;
}

.hero-img {
  width: 70%;
}
.hero-img-hobbies {
  display: block;
  width: 50%;
  margin: auto;
}

.hero-img-projects {
  width: 30%;
  margin: auto;
}
.img_coder {
  margin-top: 80px;
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  justify-content: Center;
}
.img_text_l {
  margin-left: -18px;
  padding: 15px;
  /* border-left: 5px solid #7F8991; */
  writing-mode: vertical-lr;
  font-size: 4em;
  transform: rotate(180deg);
  text-align: center;
}

.title {
  font-family: 'Playfair Display', serif;
  color: rgb(214, 214, 214);
  font-size: 2.7em;
  font-weight: 900;
  line-height: 120%;
}
 .light-title{
  color: #1b2331; 
}
.sub-title{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 150%;
}
.img_text_r {
  padding-left: 15px;
  /* border-left: 5px solid #7F8991; */
  writing-mode: vertical-rl;
  font-size: 4em;
  transform: rotate(360deg);
  text-align: center;
}
.img_text_l:hover {
  border-left: 5px solid rgb(207, 206, 206);
}
.img_text_r:hover {
  border-left: 5px solid rgb(207, 206, 206);
}

.cta-button {
  cursor: pointer;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 260px;
  height: 49px;
  color: rgb(207, 206, 206);
  border: 5px solid rgb(207, 206, 206);
  box-sizing: border-box;
  box-shadow: inset 2px 0px 4px rgba(29, 32, 38, 0.5),
    inset -2px 0px 4px rgba(29, 32, 38, 0.5);
  border-radius: 5px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-button:hover {
  background-color: #FF6583;
  color: #ffffff;
}
.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.shiny:hover {
  background-color: #ee6382;
}

.card-block {
  text-align: center;
  height: 350px;
  width: 0%;
  flex-basis: 300px;
  border-radius: 20px;
  border: 5px solid rgb(207, 206, 206);
  margin: 5%;
}
.card-block:hover {
  transition-duration: 0.5s;
  transform: scale(1.1);
}
.card-block-adapt {
  text-align: center;
  width: 0%;
  flex-basis: 200px;
  border-radius: 20px;
  border: 5px solid rgb(207, 206, 206);
  margin: 5%;
  font-size: 16px;
}
.card-block-adapt:hover {
  transition-duration: 0.5s;
  transform: scale(1.1);
}
.project-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}

.link-block {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.link-block:hover {
  background-color: rgb(40, 52, 73);
  cursor: pointer;
}
.link-block2 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(243, 242, 242)
}
.link-block2:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.btm-text{
  margin-top: 80px;
  font-size: 1.5em;
}
.light {
  color: #1b2331;
  background-color: #f0f0f0;
  padding-bottom: 80px;
}
.red-idle {
  color: #ee6382;
}
.red:hover {
  color: #ee6382;
}
.bar {
  width: 100%;
  height: 20px;
  border-radius: 20px;
  background-color: rgb(73, 86, 107);
  display: flex;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding:20%;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  color: #f0f0f0;
  transform: rotateY(180deg);
  border-radius: 20px;
  background-color: #1b2331;
}
.flip-back-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-evenly;
  border-bottom: 1px solid #1b2331;
}
.bar-color {
  height: 100%;
  border-radius: 20px;
  background-color: #7f8991;
}
.skl-90 {
  width: 90%;
  animation: skl-90 2s;
}
.skl-80 {
  width: 80%;
  animation: skl-80 2s;
}
.skl-60 {
  width: 60%;
  animation: skl-60 2s;
}
.skl-50 {
  width: 50%;
  animation: skl-50 2s;
}

.footer {
  margin-top: 150px;
  background: #7f8991;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.5em;
}
.logos {
  width: 90%;
  display: flex;
  justify-content: center;
}
.logo-item {
  margin-left: 12px;
  margin-right: 12px;
}
.logo-item:hover {
  transform: scale(1.2);
}

@keyframes skl-90 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes skl-80 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes skl-60 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes skl-50 {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .img_text_r {
    font-size: 3em;
    padding-left: 12px;
  }
  .img_text_l {
    font-size: 3em;
    padding-left: 12px;
  }
  .title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 800px) {
  .hero-img-hobbies {
    display: block;

    width: 75%;
  }
  .img_text_r {
    font-size: 2em;
    padding-left: 6px;
  }
  .img_text_l {
    font-size: 2em;
    padding-left: 6px;
  }
  .title {
    font-size: 2.2em;
  }
  .hero-img {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .btm-text{
    font-size: 1.1em;
  }
  .item{
    margin-left:20px;
    }
      .main-padding {
    width: 90%;
  }
  .hero-img {
    width: 95%;
  }
  .hero-img-hobbies {
    display: block;

    width: 90%;
  }
  .img_text_r {
    font-size: 1.5em;
    padding-left: 4px;
  }
  .title {
    font-size: 2em;
  }

  .img_text_l {
    font-size: 1.5em;
    padding-left: 4px;
  }
  .bar {
    height: 12px;
  }
  .flex {
    justify-content: center;
  }
  .title {
    text-align: center;
  }
}
